.cv-download-link {
    font-size: 1.3rem;
    color: var(--med-dark);   
}

.cv-download-link:hover {
    color: var(--med-light);
}

.cv-download-link-container {
    margin-bottom: 25px;
}

.proficiencies-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--font-acme);
}
  
.resume-column {
    flex: 1 0 30%; 
    margin-bottom: 20px;
    font-size: larger;
    margin: 21px;
}
  
  .resume-column ul {
    padding: 0;
  }
  
  .resume-column ul li {
    margin-bottom: 8px;
  }
  



 
