.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 20px;
  }
  
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .content-row {
    max-width: 1280px;
    display: flex;
    margin-bottom: 15px; 
  }
  
  .profile-pic {
    max-width: 100%;
    max-height: 300px;
    margin: auto;
    border-radius: 30%;
    border: var(--med-light) solid 7px;
  }
  
  p {
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: bolder;
  }

  /* Additional styles to keep h2, img, and p inline on med-large screens */
@media (min-width: 768px) {
    div {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    img {
      max-width: 20%; 
      margin-right: 20px;
    }
  
    p {
      max-width: 76%; 
    }
  }
  